In [1]:
import numpy as np
import pandas as pd
import seaborn as  sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

In [2]:
dataset = pd.read_csv('Gold Price.csv')

In [3]:
dataset.shape

(2227, 7)

In [4]:
dataset.head

<bound method NDFrame.head of             Date  Price   Open   High    Low  Volume  Chg%
0     2014-01-01  29542  29435  29598  29340    2930  0.25
1     2014-01-02  29975  29678  30050  29678    3140  1.47
2     2014-01-03  29727  30031  30125  29539    3050 -0.83
3     2014-01-04  29279  29279  29279  29279       0 -1.51
4     2014-01-06  29119  29300  29395  29051   24380 -0.55
...          ...    ...    ...    ...    ...     ...   ...
2222  2022-08-01  51260  51899  51899  51023    1350 -0.20
2223  2022-08-02  51274  51438  51527  51100     230  0.03
2224  2022-08-03  51225  51250  51375  51137      70 -0.10
2225  2022-08-04  51802  51713  51903  51713      10  1.13
2226  2022-08-05  51820  51935  51965  51525   11080  0.03

[2227 rows x 7 columns]>

In [5]:
dataset.tail()

            Date  Price   Open   High    Low  Volume  Chg%
2222  2022-08-01  51260  51899  51899  51023    1350 -0.20
2223  2022-08-02  51274  51438  51527  51100     230  0.03
2224  2022-08-03  51225  51250  51375  51137      70 -0.10
2225  2022-08-04  51802  51713  51903  51713      10  1.13
2226  2022-08-05  51820  51935  51965  51525   11080  0.03

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2227 entries, 0 to 2226
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2227 non-null   object
 1   Price   2227 non-null   int64
 2   Open    2227 non-null   int64
 3   High    2227 non-null   int64
 4   Low     2227 non-null   int64
 5   Volume  2227 non-null   int64
 6   Chg%    2227 non-null   float64
dtypes: float64(1), int64(5), object(1)
memory usage: 121.9+ KB

In [7]:
dataset.isnull().sum()

Date      0
Price     0
Open      0
High      0
Low       0
Volume    0
Chg%      0
dtype: int64

In [8]:
da

NameError: name 'da' is not defined